/* Made by NexON39 "kscode.pl@gmail.com"
Made for XyzzyTactic */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --red: rgb(236, 3, 20);
    --gray-login-border: rgb(64,64,64);
    --gray-login: rgba(64,64,64, 0.6);
    --shadow-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    border: 1px var(--red) solid;
    overflow: hidden;
}

.container { 
    /* max-width: 1400px; */
    margin: 0 auto;
    /* padding: 0 40px; */
    overflow: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.main {
    flex-direction: column;
    height: 100vh;
}

.main img {
    height: 250px;
}

.main .login_box {
    width: 400px;
    flex-direction: column;
    background: var(--gray-login);
    border: var(--gray-login-border) 1px solid;
    border-radius: 10px;
    height: 400px;
    transition: border 0.3s;
    -webkit-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    -moz-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    box-shadow: 0px 6px 14px -6px var(--shadow-color);
}

.main .login_box .switch_btn {
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border-bottom: 1px var(--red) solid;
}

.main .login_box .switch_btn .login_hiper {
    width: 100%;
    padding: 1rem;
}

/* .main .login_box .switch_btn .login_hiper:nth-child(1) {
    border-right: 1px var(--red) solid;
}

.main .login_box .switch_btn .login_hiper:nth-child(2) {
    border-left: 1px var(--red) solid;
} */

.main .login_box .switch_btn a{
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s, border 0.3s;
    border: 1px solid transparent;
}

.main .login_box .switch_btn a:hover{
    background-color: gray;
    border: 1px solid var(--red);
}

.main .login_box .inputs {
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.main .login_box .inputs .input p{
    text-align: left;
    line-height: 1rem;
    font-size: 0.8rem;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.main .login_box .inputs .input p i{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 0.6rem;
}

.main .login_box .inputs input[type="text"],
.main .login_box .inputs input[type="password"] {
    text-align: center;
    border: 1px solid var(--gray-login);
    /* border-radius: 10px; */
    font-size: 1.5rem;
    padding: 0.5rem 0;
    outline: none;
    transition: border 0.3s;
    background: gray;
    color: white;
    -webkit-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    -moz-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    box-shadow: 0px 6px 14px -6px var(--shadow-color);
}

.main .login_box .inputs input[type="text"]:focus,
.main .login_box .inputs input[type="password"]:focus {
    border: var(--red) 1px solid;
}

.main .login_box .inputs input[type="submit"] {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.4rem;
    margin: 1rem;
    letter-spacing: 1px;
    outline: none;
    border: 1px gray solid;
    /* border-bottom: 1px gray solid; */
    cursor: pointer;
    background: gray;
    transition: border 0.3s;
    color: white;
    -webkit-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    -moz-box-shadow: 0px 6px 14px -6px var(--shadow-color);
    box-shadow: 0px 6px 14px -6px var(--shadow-color);
}

.main .login_box .inputs input[type="submit"]:hover {
    /* border: 1px var(--red) solid; */
    border-bottom: 1px var(--red) solid;
}


